<ion-view view-title=
<ion-header-bar >

   
   <a id="header">
       <img src="img/header.jpeg" width="100%">
     
    </a>
</ion-header-bar>  
<ion-nav-title> {{title}} </ion-nav-title>
   <ion-content  class="has-header padding has-footer " scroll="false">

<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>


<div class="item-input-inset " style="padding:0px !important;">
    <label class="item-input-wrapper ">
      <input  type="search" placeholder="Cari" ng-model="searchFilter">
    </label>
  </div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>

        <div class="row header positive" style="background-color:lightgrey;">
          <div class="col col-20" style="border: solid 1px grey;">Tgl</div>
          
          <div class="col" style="border: solid 1px grey;">Datang</div>
          <div class="col" style="border: solid 1px grey;">Pulang</div>
          <div class="col" style="border: solid 1px grey;"> Keterangan</div>
        </div>
          <ion-scroll direction="xy" id="map_content">
        <div class="row" ng-repeat="data in hadir| filter:searchFilter" ng-style="{'background-color':($index % 2 === 0 ? 'white' :'#D8E2E9')}">
          <div class="col col-20" isDate="true" style="border: solid 1px grey;">{{data.xtanggal|amDateFormat:'DD/MM/YYYY'}}</div>
          
          <div class="col" style="border: solid 1px grey;">{{data.fttimex}}</div>
          <div class="col" style="border: solid 1px grey;">{{data.pulang}}</div>
          <div class="col" style="border: solid 1px grey;">{{data.keterangan}}</div>
          </div>


    </ion-scroll>
    <div class="row">
  <div class="col col-50"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>



<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
  
  </ion-content>
 <div class="bar bar-subfooter">
        <div class="list">
          <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
       <a class="button  button-positive icon-left ion-refresh" ng-click="hadir()">Refresh</a>
  <a class="button  button-positive icon-left ion-home"  ng-href="#/app/home/{{level}}/{{nis}}">Home</a>
</div>
        </div>
      </div>
     <ion-footer-bar class="bar-stable" tap-scroll="false">
  <div class = "row">
   <div class = "col">    <marquee>
 <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span> 
  </marquee></div>

</div>
</ion-footer-bar>
</ion-view>
