<ion-view view-title="
<ion-header-bar >

    <a class="item no-padding" >
       <img src="img/header.jpeg" width="100%" height="17%" >
     
    </a>
</ion-header-bar>"  >
<ion-nav-title> {{title}} </ion-nav-title>
    <ion-content class="has-header padding has-footer ">
        <div class="row">
            <div class="col col-50"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="shownis()">
        </ion-refresher>
        <div class="card" ng-repeat="s in siswa">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">NIS: </span>
                    <input type="text" ng-model="data.nis" ng-init="data.nis=s.NIK">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nama:</span>
                    <input type="text" ng-model="data.nama" ng-init="data.nama=s.NAMA" init-from-form>>
                </label>
                <label class="item item-input">
                    <span class="input-label">Kelas:</span>
                    <input type="text" ng-init="data.kel=s.KELAS" ng-model="data.kel" init-from-form>
                </label>
                <input type="hidden" ng-model="data.smt" ng-init="data.smt=s.SEMESTER" init-from-form>
              
                <label class="item item-input">
                    <span class="input-label">Status:</span>
                    <select ng-model="data.status" class="item-select item-input-wrapper" ng-init="data.status=sta.status" ng-options="p.status for p in st" ng-change="cetak();"></select>
                </label>
        </div>
        </ion-list>
        </div>
        <div class="card">
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Keterangan:</span>
                    <textarea ng-model="data.ket"></textarea>
                </div>
  
            <div class="item">
                <center><a class="button button-full button-positive" ng-click="entry(data);">
  SIMPAN
</a></center>
            </div>
        </div>
        </ion-scroll>
        <div class="row">
            <div class="col col-50"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
    </ion-content>
    <div class="bar bar-subfooter">
        <div class="list">
            <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
                <a class="button  button-positive icon-left ion-refresh" ng-click="lskelas()">Refresh</a>
                <a class="button  button-positive icon-left ion-home" ng-href="#/BK/home/{{level}}/{{nis}}">Home</a>
            </div>
        </div>
    </div>
    <ion-footer-bar class="bar-stable" tap-scroll="false">
        <div class="row">
            <div class="col">
                <marquee>
                    <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span>
                </marquee>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
