<ion-view view-title=
<ion-header-bar >

   
   <a id="header">
       <img src="img/header.jpeg" width="100%">
     
    </a>
</ion-header-bar> 
<ion-nav-title> {{title}} </ion-nav-title>
  <ion-content  class="has-header padding has-footer ">
 <div class="row">
  <div class="col col-50"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>




<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div><div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div><div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<!--<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<!--<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div><div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
 <!--
<div class="row" style="flex-wrap: wrap;  padding-top: 0px">
      <div class="col col-50" ng-repeat="tes in homenu" style="padding: 0px">
        <div class="list card" >
        <div class="item item-divider">{{tes.judul}}</div>
          <div class="item item-image">
    <img src="{{tes.icon}}">
  </div>
</div>

      </div>
    </div> -->
 <!-- <ion-list show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
            <ion-item ng-repeat="n in nis" type="item-text-wrap" >

                <h2>{{nis.nis}}
                   
                </h2>
            </ion-item>
        </ion-list> -->
<!--
NEW UI
-->


<div class="container">
  <div class="row" style="margin-top: -50px !important;">
    <div class="col col-33">
       <div class="card" ui-sref='bk.siswa'>
                 
                 <div class="item item-image">
    <img src="img/PNG/21.png" >
    <p>Daftar Siswa</p>  
   
  </div>
                </div>
    </div>
    <div class="col col-33">
      <div class="card" ui-sref='bk.absensi'>
                 
                 <div class="item item-image">
    <img src="img/PNG/15.png">
    <p>Verifikasi Absen</p>
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" ui-sref='bk.pelanggaran'>
                
                 <div class="item item-image">
    <img src="img/PNG/26.png">
    <p>Pelanggaran</p>
  </div>
                </div >
    </div>
  </div>
  <div class="row" style="margin-top: -40px !important;">
   
    <div class="col col-33">
       <div class="card" ui-sref='bk.rekap'>
                 
                 <div class="item item-image">
    <img src="img/PNG/52.png">
    <p>Rekap Pelanggaran</p>
  </div>
                </div>
    </div>
     <div class="col col-33">
       <div class="card" ui-sref="app.berita">
                 
                 <div class="item item-image">
    <img src="img/PNG/32.png" >
    <p>Berita</p>  
   
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" ui-sref="bk.user">
                
                 <div class="item item-image">
    <img src="img/PNG/38.png">
    <p>Chat</p>
  </div>
                </div >
    </div>
  </div>
  <div class="row" style="margin-top: -40px !important;">
    <div class="col col-33">
       <div class="card" ui-sref="app.sms">
                 
                 <div class="item item-image">
    <img src="img/PNG/45.png" >
    <p>SMS</p>  
    
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" onclick="alert('Maaf, Fitur belum tersedia')">
                 
                 <div class="item item-image">
    <img src="img/PNG/47.png">
    <p>Jadwal Pelajaran</p>
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" onclick="alert('Maaf, Fitur belum tersedia')">
                
                 <div class="item item-image">
    <img src="img/PNG/39.png">
    <p>Kalender Akademik</p>
  </div>
                </div >
    </div>
  </div>
   <div class="row" style="margin-top: -40px !important;">
    <div class="col col-33">
       <div class="card"  onclick="window.open('https://line.me/id/'); return false;">
                 
                 <div class="item item-image">
    <img src="img/line2.png" >
    <p>LINE</p>  
    
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" onclick="window.open('https://www.facebook.com/pages/Smkn-1-Surabaya/1588427988094654?fref=ts', '_system', 'location=yes'); return false;">
                 
                 <div class="item item-image">
    <img src="img/fb.png" sizes="110%">
    <p>FB</p>
  </div>
                </div>
    </div>
    <div class="col col-33">
       <div class="card" onclick="window.open('https://twitter.com/drimamscom', '_system', 'location=yes'); return false;">
  
                 <div class="item item-image">
    <img src="img/twitter.png">
    <p>Twitter</p>
  </div>
                </div >
    </div>
  </div>

</div>

<!--
OLD ui
-->
 

  </ion-content>
      <ion-footer-bar class="bar-stable" tap-scroll="false">
    <div class = "row">
   <div class = "col-50"  ng-href="#/app/home/{{level}}/{{nis}}">
  <center>HOME</center> 
</div>
<div class = "col-50"  ui-sref="app.sms">
 <center>PESAN</center>
</div>
</div>
</ion-footer-bar>
</ion-view>
