<ion-view view-title="
<ion-header-bar >

    <a class="item no-padding" >
       <img src="img/header.jpeg" width="100%" height="17%" >
     
    </a>
</ion-header-bar>"  cache-view="false">
<ion-nav-title> {{title}} </ion-nav-title>
    <ion-content class="has-header padding has-footer ">
        <div class="row">
            <div class="col col-50"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col col-75"></div>
        </div>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="pelanggarankelas()">
        </ion-refresher>
        <div class="list">
            <div class="item">
                <p align="center"> Daftar Pelanggaran Kelas {{kelas}}</p>
            </div>
        </div>
        <div class="row header positive" style="background-color:lightgrey;">
            <div class="col col-20" style="border: solid 1px grey;">NIS</div>
            <div class="col col-20" style="border: solid 1px grey;">Nama</div>
            <div class="col col-20" style="border: solid 1px grey;">Pelanggaran</div>
            <div class="col col-30" style="border: solid 1px grey;">Tgl</div>
            <div class="col col-10" style="border: solid 1px grey;">Skor</div>
            <!--<div class="col" style="border: solid 1px grey;"></div>-->
        </div>
        <ion-scroll direction="xy" id="map_content">
            <div class="row" ng-repeat="data in pel| unique:'NIS'" ui-sref="bk.pelanggaran2({no:data.NOM, kelas:kelas})"  ng-style="{'background-color':($index % 2 === 0 ? 'white' :'#D8E2E9')}">
                <div class="col col-20" style="border: solid 1px grey;">{{data.NIS}}</div>
                <div class="col col-20" style="border: solid 1px grey;">{{data.NAMA}}</div>
                <div class="col col-20" style="border: solid 1px grey;">{{data.NAMAPLG}}</div>
                <div class="col col-30" style="border: solid 1px grey;">{{data.TGL|amDateFormat:'DD/MM/YYYY'}}</div>
                <div class="col col-10" style="border: solid 1px grey;">{{data.SKOR}}</d10>
                    <!--<div class="col" style="border: solid 1px grey;"><button class="button button-icon ion-arrow-right-b"></button></div>-->
                </div>
            </div>
            <button class="button button-full  button-positive" ng-click="kos()">Tambah Data</button>
        </ion-scroll>
        <div class="row">
            <div class="col col-50"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-75"></div>
        </div>
    </ion-content>
    <div class="bar bar-subfooter">
        <div class="list">
            <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
                <a class="button  button-positive icon-left ion-refresh" ng-click="pelanggarankelas();">Refresh</a>
                <a class="button  button-positive icon-left ion-home" ng-href="#/BK/home/{{level}}/{{nis}}">Home</a>
            </div>
        </div>
    </div>
    <ion-footer-bar class="bar-stable" tap-scroll="false">
        <div class="row">
            <div class="col">
                <marquee>
                    <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span>
                </marquee>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
