<ion-view view-title=
<ion-header-bar >

   
   <a id="header">
       <img src="img/header.jpeg" width="100%">
     
    </a>
</ion-header-bar> 
<ion-nav-title> {{title}} </ion-nav-title>
  <ion-content  class="has-header padding has-footer ">
 <div class="row">
  <div class="col col-50"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>



<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>


       <div class="card">
    <ion-list ng-repeat="data in siswa">
                <label class="item item-input" >
                    <span class="input-label">NIS:</span>
                    <input type="text"  ng-value="data.NIK">
                </label>
                <label class="item item-input">
                    <span class="input-label">NAMA:</span>
                    <input type="text"  ng-value="data.NAMA">
                </label>
                <label class="item item-input">
                    <span class="input-label">Kelas:</span>
                    <input type="text" ng-init="d.kel=data.KELAS" ng-model="d.kel" init-from-form>
                </label>
                  <label class="item item-input">
                    <span class="input-label">Semester:</span>
                    <input type="text" ng-value="data.SEMESTER">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nilai:</span>
                    <div class="item-input item-select item-input-wrapper">
    <div class="input-label">
   
    <select type="text" ng-model="nilai.ujian" >
         <option  ng-selected="true" >Nilai</option>
         <option  ng-value="'KDK'" >U1</option>
          <option  ng-value="'KDP'" >U2</option>
          <option  ng-value="'KDA'" >U3</option>
          <option  ng-value="'UTSK'" >UTS</option>
          <option  ng-value="'UASP'" >UAS</option>
          <option  ng-value="'NRAPORTK'" >RAPORT</option>
      
        </select> 
 </div>
    </div>
               
                
            </ion-list>
  </div>
<div class="card" ng-repeat="data in siswa">
  <div class="item item-body">
  <div class="item">
    
  </div>
  <div class="item item-input">
   <input type="tel" ng-model="nilai.nilai" style="width: 300px; height: 70px;font-size:30px;text-align: center;text-align-bottom:none;"> 
   </div>
  </div>
    <div class="item">
  <center><a class="button button-full button-positive" ng-click="kirim();" ui-sref="guru.listnilai({kelas:data.KELAS})">
  SIMPAN
</a></center>
  </div>
</div>



    </ion-scroll>
    <div class="row">
  <div class="col col-50"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>



<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
  
  </ion-content>
 <div class="bar bar-subfooter">
        <div class="list">
          <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
       <a class="button  button-positive icon-left ion-refresh" ng-click="lskelas()">Refresh</a>
  <a class="button  button-positive icon-left ion-home"  ng-href="#/guru/home/{{level}}/{{nis}}">Home</a>
</div>
        </div>
      </div>
     <ion-footer-bar class="bar-stable" tap-scroll="false">
  <div class = "row">
   <div class = "col">   <marquee>
 <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span> 
  </marquee></div>

</div>
</ion-footer-bar>
</ion-view>
