<ion-view view-title=
<ion-header-bar >

   
   <a id="header">
       <img src="img/header.jpeg" width="100%">
     
    </a>
</ion-header-bar> 
<ion-nav-title> {{title}} </ion-nav-title>
  <ion-content  class="has-header padding has-footer " scroll="false">

<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>


<div class="list">
  <div class="item">
    <p align="center"> {{pelajaran}} {{kelas}}</p>
 </div>
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="KI3" ui-sref='guru.listnilai'>
          <ion-nav-view name="k13-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="KI4" >
          <ion-nav-view name="k14-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="sikap" ui-sref='guru.listnilaisikap'>
          <ion-nav-view name="sikap-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
</div>
 

   

<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
  
  </ion-content>
 <div class="bar bar-subfooter">
        <div class="list">
          <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
    <a class="button  button-positive icon-left ion-refresh" ng-click="lskelas2();">Refresh</a>
  <a class="button  button-positive icon-left ion-home"  ng-href="#/guru/home/{{level}}/{{nis}}">Home</a>
</div>
        </div>
      </div>
     <ion-footer-bar class="bar-stable" tap-scroll="false">
  <div class = "row">
   <div class = "col">    <marquee>
 <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span> 
  </marquee></div>

</div>
</ion-footer-bar>
</ion-view>
