<ion-view view-title=
<ion-header-bar >

   
   <a id="header">
       <img src="img/header.jpeg" width="100%">
     
    </a>
</ion-header-bar> 
<ion-nav-title> {{title}} </ion-nav-title>
  <ion-content  class="has-header padding has-footer " scroll="false">

<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col col-75"></div>
</div>


<div class="list">
  <div class="item">
    <p align="center"> {{pelajaran}} {{kelas}}</p>
 </div>
<!-- <ion-tabs class="tabs-striped tabs-positive tabs-color-light">

        <ion-tab title="KI3" >
       
        </ion-tab>

        <ion-tab title="KI4" ui-sref='guru.listnilaik14'>
         
        </ion-tab>

        <ion-tab title="sikap" ui-sref='guru.listnilaisikap'>
        
        </ion-tab>

      </ion-tabs> -->
      <div class="tabs tabs-striped tabs-positive  static">
            <a class="tab-item">
                KI3
            </a>
            <a ui-sref="guru.listnilaik14({kelas:kelas})" class="tab-item">
               KI4
            </a>
            <a ui-sref="guru.listnilaiSikap({kelas:kelas})" class="tab-item">
               SIKAP
            </a>
        </div>
        
</div>
         <div class="row header positive" style="background-color:lightgrey;">
          <div class="col" style="border: solid 1px grey;max-width :15% !important;text-align: center">NIS</div>
          <div class="col" style="border: solid 1px grey;max-width :25% !important;text-align: center">Nama</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">K1</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">K2</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">K3</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">K4</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">RI3</div>
          <div class="col" style="border: solid 1px grey;max-width :10% !important;text-align: center">RI4</div>
        </div>
    <ion-scroll direction="xy" style="margin-bottom:100px;height: 55%;">
        <div class="row" ng-repeat="data in lskelas" ui-sref="guru.entry({nis:data.NIS})"  ng-style="{'background-color':($index % 2 === 0 ? 'white' :'#D8E2E9')}">
          <div class="col col-15" style="border: solid 1px grey;max-width :15% !important">{{data.NIS}}</div>
          <div class="col col-25" style="border: solid 1px grey;max-width :25% !important;">{{data.NAMA}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.KDK}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.KDP}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.KDA}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.UTSK}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.UASP}}</div>
          <div class="col col-10" style="border: solid 1px grey;max-width :10% !important;text-align: center">{{data.NRAPORTK}}</div>        <!--<div class="col" style="border: solid 1px grey;"><button class="button button-icon ion-arrow-right-b"></button></div>-->
        </div>
         
      </div>
   

<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col col-75"></div>
</div>
  
  </ion-content>
 <div class="bar bar-subfooter">
        <div class="list">
          <div class="button-bar bottom social-login" style="position: fixed; bottom: 1;">
    <a class="button  button-positive icon-left ion-refresh" ng-click="lskelas2();">Refresh</a>
  <a class="button  button-positive icon-left ion-home"  ng-href="#/guru/home/{{level}}/{{nis}}">Home</a>
</div>
        </div>
      </div>
     <ion-footer-bar class="bar-stable" tap-scroll="false">
  <div class = "row">
   <div class = "col">    <marquee>
 <span ng-repeat="item in berita">
 <a href="#/app/brt/{{item.id_berita}}">
          {{item.judul}}</a> |
      </span> 
  </marquee></div>

</div>
</ion-footer-bar>
</ion-view>
