/* Empty. Add your own CSS if you like */
.platform-android .bar-subheader  {
		top: 10px;
}
ion-content  {
 top: 98px !important;
}
#header img{
  width: 100%;
  height: auto;
}
.card-wrapper {
  height: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}
.custom-card.card {
  height: 75%;
  margin: 0;
}

.scroll-view {
  height: 100%;
}
.bottom {
    position: fixed;
    bottom: 0;
}
.chat {
    position: fixed;
    bottom: 0.5;
}


/* Empty. Add your own CSS if you like */
html, body, 
.scroll /* because the <ion-content> content is placed inside a div.scroll */
{
  height: 100%;
}

.platform-android .bar-subheader  {
    top: 95px;
}

.card-wrapper {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.scroll-view {
  height: 100%;
}
.item-select {
  width: 100%; /* Or whatever you'd like the width to be */
}

.item-select select {
  left: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;  
}

.container > .cell-row {

  display: flex;
}
.cell-row > div {
  flex: 1;
  flex-grow: 1;

  
  /* Flex for these containers (cells) */
  display: flex;
  border: 0px !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
}

.container i[class^="ion-"] {
  font-size: 90px;
}





/* doesn't matter */

.cell-row-1 {
  
}
.cell-row-2 {
 top: 1px !important;
}

.cell-1 {
  
}
.cell-2 {
  
}
.cell-3 {
  
}
.cell-4 {
  
}
.cell-5 {
  
}
.cell-6 {
  
}
.title-image {
  
}
.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.item-avatar-right img{
  float:right;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 10px;
}
.item-avatar-right, .item-avatar-right .item-content{
  padding: 16px 49px 16px 16px;
}

.item-avatar-right > img:first-child, .item-avatar-right, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image{
  position: inital !important;
}
.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; 
  }
  .image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
.item-image{
   padding: 4px 4px 4px 4px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
.social-login {
    position: fixed;
    bottom: 0;
}
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 3px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

textarea {
    width: 300px;
    height: 150px;
}

*/

/*elastichat*/


.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}
.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }
/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 5px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 5px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}


.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
.profile-item {
  text-align: center;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}

ion-side-menu ion-content {
   top: 40px !important;
  background-color: #387EF5; }
    ion-side-menu ion-item.item .menu-text {
    color: #FFFFFF !important;
    font-weight: 500; }
ion-side-menu ion-item.item .item-content {
    background-color:  #387EF5; 

  border-color:  #387EF5 !important; 
 }
  ion-side-menu ion-item.item {

  border-color:  #387EF5 !important; }
  /*login */
.login{
   background-size: cover;
   background: url(../img/bg-img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
}
.multi-bg-outer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2; }
  .multi-bg-outer.finish-loading {
    background-color: transparent; }
  .multi-bg-outer .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    z-index: -1;
    opacity: 0.6; }
  .multi-bg-outer .multi-bg {
    display: none; }

.loading-container .loading {
  background-color: rgba(68, 68, 68, 0.9); }
  .loading-container .loading * {
    color: #f2f2f2;
    font-weight: 500; }
    .auth-outer {
  background-color: transparent !important; }
  .auth-outer ion-view {
    background-color: transparent;
    box-shadow: none !important; }
  .auth-outer ion-header-bar {
    background-color: transparent; }
    .auth-outer ion-header-bar * {
      color: #FFFFFF; }

.auth-view .row {
  height: 100%; }
.auth-view .bottom-content {
  padding-top: 0px;
  border: none; }
  .auth-view .bottom-content .button {
    margin: 0px;
    font-weight: bold; }
.auth-view .alternative-actions {
  margin: 0px 10px; }
  .auth-view .alternative-actions .button {
    padding: 0px;
    font-size: 14px; }
  .auth-view .alternative-actions .sign-up {
    float: right; }


/*side menu

ion-side-menu ion-content {
  background-color: #23262a; }
ion-side-menu ion-item.item {
  border-right: none;
  border-left: none;
  border-color: #33383e; }
  ion-side-menu ion-item.item .item-content {
    background-color: #23262a; }
    ion-side-menu ion-item.item .item-content .icon:before {
      background-color: #3E454C;
      color: #FFFFFF;
      border-radius: 50%;
      font-size: 22px;
      width: 32px;
      height: 32px;
      line-height: 32px; }
  ion-side-menu ion-item.item .item-content.activated {
    background-color: #555e68; }
  ion-side-menu ion-item.item .menu-text {
    color: #cccccc;
    font-weight: 500; }
ion-side-menu ion-item.item:first-child {
  border-top: none; }
ion-side-menu ion-item.item:last-child {
  border-bottom: none; }

ion-side-menu .heading-item .item-content {
  height: 120px;
  padding-top: 45px;
  padding-left: 115px;
  background-color: #272c30;
  padding-bottom: 0px; }
ion-side-menu .heading-item .user-image-container {
  width: 90px;
  position: absolute;
  top: 16px;
  left: 12px; }
  
ion-side-menu .heading-item .greeting {
  color: #FFFFFF;
  font-weight: 500; }
ion-side-menu .heading-item .message {
  color: #999999; }
